{% extends 'base/estilo_comun.html' %}
{% block content%}
<head>
    <style>
        table {
            margin: auto;
            border-collapse: collapse;
        }
        td, th {
            padding: 10px;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: black;
        }
        a:hover {
            color: blue;
        }
    </style>
</head>
<body>

    <h2 style="text-align: center;">Octubre 2024</h2>

    <table border="1">
        <tr>
            <th>lun</th>
            <th>mar</th>
            <th>mié</th>
            <th>jue</th>
            <th>vie</th>
            <th>sáb</th>
            <th>dom</th>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/dia/5">5</a></td>
            <td><a href="/dia/6">6</a></td>
            <td><a href="/dia/7">7</a></td>
            <td><a href="/dia/8">8</a></td>
        </tr>

        <tr>
            <td><a href="/dia/9">9</a></td>
            <td><a href="/dia/10">10</a></td>
            <td><a href="/dia/11">11</a></td>
            <td><a href="/dia/12">12</a></td>
            <td><a href="/dia/13">13</a></td>
            <td><a href="/dia/14">14</a></td>
            <td><a href="/dia/15">15</a></td>
        </tr>

        <tr>
            <td><a href="/dia/16">16</a></td>
            <td><a href="/dia/17">17</a></td>
            <td><a href="/dia/18">18</a></td>
            <td><a href="/dia/19">19</a></td>
            <td><a href="/dia/20">20</a></td>
            <td><a href="/dia/21">21</a></td>
            <td><a href="/dia/22">22</a></td>
        </tr>

        <tr>
            <td><a href="/dia/23">23</a></td>
            <td><a href="/dia/24">24</a></td>
            <td><a href="/dia/25">25</a></td>
            <td><a href="/dia/26">26</a></td>
            <td><a href="/dia/27">27</a></td>
            <td><a href="/dia/28">28</a></td>
            <td><a href="/dia/29">29</a></td>
        </tr>

        <tr>
            <td><a href="/dia/30">30</a></td>
            <td><a href="/dia/30">31</a></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>

    {% endblock content %}
</body>
